#streetview, #miniMap {
    width: 100%;
    height: 100%;
}

.chance-map a img,
.chance-map a {
    z-index: -999!important;
    display: none!important;
    visibility: hidden!important
}
.chance-map text {
    display: none
}
.chance-map svg {
    pointer-events: auto
}